#Region System
FEEDSTRINGS;
SKIPCHECK;
#EndRegion
['}CaptionMeasures':'Value'] = S:
  IF(
    DB( '}DimensionCaptions', !}Cultures, 'Input' ) @= '',
    IF(
      ATTRS( '}Cultures', !}Cultures, 'BaseCulture' ) @= '',
      DB( '}DimensionCaptions', 'Default', 'Input' ),
      DB( '}DimensionCaptions', ATTRS( '}Cultures', !}Cultures, 'BaseCulture' ), 'Value' )
    ),
    DB( '}DimensionCaptions', !}Cultures, 'Input' )
  );